@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MobLayout.cshtml";
}


<div class="store-content">
    <div class="store-menu store-tc" id="wrapper-menu">
        <div class="menu-items-wrapper menu-items-bord">
            <ul class="menu-items">
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
                <li>aaa</li>
            </ul>
        </div>
    </div>
    <div class="store-products store-tc" id="wrapper-prod">
        <div class="menu-items-wrapper">
            <div class="store-products-wrapper">
                <div class="store-product-wrapper">
                    <img width="70" height="70" style="opacity: 1; transition: opacity 0.5s;float:left;" />
                    <div class="store-product-content">
                        <p class="product-name">芒果多多寒晶大杯</p>

                        <div class="product-footer">
                            <span class="product-price">¥21.00</span>
                            <img src='@Url.Content("~/Content/img/rkoer93r3r.png")' />
                        </div>
                    </div>
                </div>

                <div class="store-product-wrapper">
                    <img width="70" height="70" style="opacity: 1; transition: opacity 0.5s;float:left;" />
                    <div class="store-product-content">
                        <p class="product-name">芒果多多寒晶大杯</p>

                        <div class="product-footer">
                            <span class="product-price">¥21.00</span>
                            <img src='@Url.Content("~/Content/img/rkoer93r3r.png")' />
                        </div>
                    </div>
                </div>

                <div class="store-product-wrapper">
                    <img width="70" height="70" style="opacity: 1; transition: opacity 0.5s;float:left;" />
                    <div class="store-product-content">
                        <p class="product-name">芒果多多寒晶大杯</p>

                        <div class="product-footer">
                            <span class="product-price">¥21.00</span>
                            <img src='@Url.Content("~/Content/img/rkoer93r3r.png")' />
                        </div>
                    </div>
                </div>

                <div class="store-product-wrapper">
                    <img width="70" height="70" style="opacity: 1; transition: opacity 0.5s;float:left;" />
                    <div class="store-product-content">
                        <p class="product-name">芒果多多寒晶大杯</p>

                        <div class="product-footer">
                            <span class="product-price">¥21.00</span>
                            <img src='@Url.Content("~/Content/img/rkoer93r3r.png")' />
                        </div>
                    </div>
                </div>

                <div class="store-product-wrapper">
                    <img width="70" height="70" style="opacity: 1; transition: opacity 0.5s;float:left;" />
                    <div class="store-product-content">
                        <p class="product-name">芒果多多寒晶大杯</p>

                        <div class="product-footer">
                            <span class="product-price">¥21.00</span>
                            <img src='@Url.Content("~/Content/img/rkoer93r3r.png")' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="container">Loading...</div>
</div>

